@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.eot');
    src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color:black;
    font-family: Rubik;
    color: white;
    margin: 0;
}

.posts {
    background-color: white;
    color: black;
    padding: 15px;
    border-bottom: 2px solid black;
}

.header li {
    list-style-type: none;
    display: inline;  
    padding: 12px; 
}

.header {
    display: flex;
    background-color: #432AD3;
    justify-content: space-between;
    align-items: center;
    float: top;
    padding: 12px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-decoration: underline;
}

.logo img {
    padding-left: 64px;
    width: 132px;
    height: 34px;
}

.sidebar {
    background-color: black;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    border-right: 4px solid white;
    margin-right: 30px;
    height: 93vh;
    float: left;
}

.sidebar ul {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.sidebar li {
    padding: 20px;
}

.sidebar li a {
    border: 2px solid black;
    border-radius: 14px;
    padding: 8px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar li a:hover {
    border: 2px solid #989898;
    padding: 8px;
    border-radius: 14px;
    background-color: #262626;
}

.contacts {
    background-color: black;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    border-left: 4px solid white;
    margin-left: 30px;
    height: 93vh;
    float: right;
}

.contacts ul {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.contacts li {
    padding: 20px;
}

.contacts li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.contacts li a:hover {
    background-color: #262626;
    border: 2px solid white;
    border-radius: 14px;
    text-decoration: none;
}
